@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@400;700;800&display=swap');

*{
    color: #241546 !important;
    font-family: 'Neuton', serif;
    font-weight: 400;
}
.homenavbar{
    background-color: rgba(218, 138, 204, 0.2);
    border: rgba(36, 21, 70, 0.2);
    box-shadow: inset 0 0 2px 0 rgba(39, 5, 100, 0.2);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.collapseanim{
    transition: 0.5s;
}

.font{
    font: 1.3em 'Neuton', sans-serif;
}
.getStarted{
    font-weight: 700;
    font: 'Neuton', sans-serif;
    border: 1px solid #724e95;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;  
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: #9165bd;
    color: #000;
}
