
.KanBan-AddTaskList{
/* make it in the bottom right corner of div */
position: absolute;
bottom: 0;
right: 0;

}
.Block {
    position: relative;
    padding: 10px 10px 12px 10px;
    margin-bottom: 0 !important;
    border: 1px solid #a586a672;
   border-radius: 5px;
   box-shadow: 0 0 5px #a586a672;

}
.Block p {

  margin-top: 0 !important;
margin-bottom: 0 !important;
   padding: 10px;
    font-size: 20px;

}
