
.KanBan-AddTaskList{
    /* make it in the bottom right corner of div */
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    margin: 15px;
    background-color: #8f7dcf;
}
.Block {
    padding: 10px 10px 12px 10px;
    margin-bottom: 0 !important;
    border: 1px solid #a586a672;
    border-radius: 5px;
    box-shadow: 0 0 5px #a586a672;
    
}
.Block p {
    
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 10px;
    font-size: 20px;
    
}

.Board{
    width: 100%;
    position: relative;
    min-height: 250px;
    background-color:  #2f4562ab;
}

.KanBan-Header{
    height: 50px;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.tasklistContainer{
    min-height: 200px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}

.task-list{
    border: 2px #a586a672 solid;
    padding: 10px;
    min-width: 270px;
    margin: 15px;
    background-color: #6f7ba172;
}
.AddCard{
    border-radius: 20px;
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color:  #2F4562;
    border: 1px solid #0e0e59b9;
}
.add-card input{
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
    background-color: #2f456264;
    border: 1px solid #d791be;
}

.buttonColored{
    color:  #767D92 !important;
}