.del{
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}

