
.heroContainer{
    background-image: url('../../../../assets/herobg1.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.heroText{
    width: 50rem;
    height: 30rem;
    background-color: rgb(16, 2, 42, 0.2);
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 5rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.heroTextHeader{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(24, 20, 58);
    text-align: left;
    margin-top: 5rem;
    padding: 2rem 2rem;
}
.heroTextPara{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(33, 33, 69) !important;
    text-align: center;
    margin-top: 2rem;
    max-width: 30rem;
    padding: 0 2rem;
}

.heroImgcard{
    width: 50rem;
    height: 30rem;
    background-color: rgb(16, 2, 42, 0.0);
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 5rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.heroImg{
    width: 50rem;
    height: 30rem;
    object-fit: fill;
}
