@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@400;700;800&display=swap');

*{
    color: #241546 !important;
    font-family: 'Neuton', serif;
    font-weight: 400;
}
.navbar{
    background : linear-gradient(270deg, #805EBF 0%, #FF8DED 100%);
    border-radius: 0 !important;
    
    }
.collapseanim{
    transition: 0.5s;
}