.TaskCard{
    background-color:  #416089aa;
    border-radius: 5px;
    min-width: 200px;
    min-height: 100px;
    margin: 5px;
}


.card-body{
    border: 0;

}

.card-body:focus{
    outline: none;
    border: 0;
    border-style: none;
}


.help{
    background-color: rgba(71, 63, 78, 0.797);
    border: 0;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    opacity: .5;
    transition: opacity .15s ease-in-out;
    color:  #767D92 !important;
    margin: 5px;
    float: right;
}

.help:hover{
    opacity: 1;
}


.deleteCard{
    float: right;
    background-color: rgba(71, 63, 78, 0.797);
    border: 0;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    opacity: .5;
    transition: opacity .15s ease-in-out;
    color: #767D92 !important;
    margin: 5px;

}

.deleteCard:hover{
    opacity: 1;
}


.Save{
    background-color: rgba(71, 63, 78, 0.797);
    border: 0;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    opacity: .5;
    transition: opacity .15s ease-in-out;
    color: #000 !important;
    margin: 5px;
}

.Save:hover{
    opacity: 1;
}

.assigned{
    color:  #767D92 !important;
    font-size: medium !important;
}

.message{
    /* gradient background color */
    background-image: linear-gradient(230deg, #847eeda7 30%, #396c83d3 80%);
    border-radius: 5px;
    box-shadow: #291389;
    padding: 15px;
    position: absolute;
    top: -32px;
    right: -450px;
    min-height: 300px;
    max-width: 400px;
    border: 1.2px solid #22147dce;
    font-size: large;
}
.message div{
    border: 1 px solid #291389;
    background-color: #af70d226;
    padding: 5px;
    border-radius: 5px;
}

.message-text{
    color:  #767D92 !important;
    font-weight: bold;
}

.messageText{
    color:  #767D92 !important;
    font-weight: bold;
}

.message-text a{
    color: #282abd !important;
    font-weight: bold;
}

.message-text a:hover{
    color: #3235c2 !important;
    font-weight: bold;
    text-decoration: underline;
}

.message-text p{
    animation : typing 3s steps(30, end);
}


.messageText a{
    color: #282abd !important;
    font-weight: bold;
}

.messageText a:hover{
    color: #3235c2 !important;
    font-weight: bold;
    text-decoration: underline;
}

.messageText p{
    animation : typing 3s steps(30, end);
}

.messageClose{
    position: absolute;
    background-color:#443dcc !important;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    transition: opacity .15s ease-in-out;
}

.cardText{
    border: none;
    background-color: transparent;
}

.cardText:focus{
    outline: none;
    border: none;
    background-color: transparent;
}

/* .messageText a{
    animation : typing 3s steps(30, end);    
} */

/* animate the message text to appear in sequence like a typewriter */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
    from {overflow: hidden;}
    to {overflow: visible;}
}


