#gradient-canvas {
    position: absolute;
    width:100vw;
    height:100vh;
    --gradient-color-1: #db9cf8; 
    --gradient-color-2: #e54b86; 
    --gradient-color-3: #7a4af2;  
    --gradient-color-4: #bb7abe;
  }