.workspace{
    margin-right: 50px;
    margin-top: 20px;
    max-width: 70%;
    border: 1px solid #f1f1f1;
    background-color:  #2F4562;
    padding: 5px;
}

.bbbb{
    margin-right: 50px;
    margin-top: 20px;
    max-width: 70%;
    border: 1px solid #f1f1f1;
    background-color:  #2F4562;
    padding: 5px;
}

.workspace img, .workspace video .WSImage{
    width: 600px !important;
    height: 400px   !important;
}

.WSImage{
    width: 600px !important;
    height: 400px   !important;
}

.Block{
    display: flex;
    z-index: 1;
    margin: 2px;
    margin-top: 5px;
    color: #ffdaff !important;
}

.WSParagraph{
    min-width: 80%;
}

.del-but{
    background-color: rgba(220, 185, 233, 0);
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #caa5d1cd;
    width: 40px;
    min-width: 30px;
}

.del-but:hover{
    background-color: #9e77a6cd;
    transition: ease-in-out 0.3s;
}

.WSFrame{
    width: 600px;
    height: 400px;
}