@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.home{
    background : linear-gradient(270deg, #805EBF 0%, #FF8DED 100%);
    height: 100vh;
}

@media only screen and (max-width: 1200px){
    *{
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }
    
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}