@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@400;700;800&display=swap');

*{
  font-family: 'Neuton', serif;
}

.container-login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.loginLayer{
    position: relative;
}

.container .box-login{
    margin: 2rem 3rem 0 3rem !important;
    width: 20rem;
    height: 30rem;
    background-color:  #2c425f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    position: relative;
    /* text-align: center; */
}
.container .box .box-header-login{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-group-login{
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}
.label-login,.box-header-login{
    margin: 0.7rem;
    font-size: 18px;
    font-weight: 600;
    color:  #767D92;
}
.form-control-login{

    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    outline: none;
}
.form-control-login:focus{
    border: 1px solid #361f47;
}
.btn-login{
    margin: 1.9rem 0 0.9rem 0;
    width: 100%;
    height: 50px;
    background-color: #31396e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.btn-login:hover{
    background-color: #283065;
    transition: 0.5s;
}
.box-footer-login{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-footer-login a{
    text-decoration: none;
    color: #5462c8 !important;
    font-size: 16px;
    font-weight: 500;
}
.box-footer-login a:hover{
    color: #7e97e2;
}


