.main-sidebar{
    background-color: rgba(127, 58, 93, 0.485) !important;
    /* background: rgb(255, 255, 255); */
}

.brand-image{
  margin-left: 2px !important;
  padding-left: 2px;

}
.brand-link{
  background-color: rgb(133, 62, 120) !important;
}



.cust-li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cust-li > div {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: var(--textColor) !important;
}

.cust-li > div:hover {
  background-color: #733c70;
}

.cust-li i {
  margin-right: 5px;
  color: var(--textColor) !important;
}

.cust-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.cust-ul li {
  color: var(--textColor) !important;
  padding: 10px;
  cursor: pointer;
}

.cust-ul li:hover {
  background-color: #733c70;
}

/* define some color css variables */
:root{
  --textColor : #ccabbb;
}
