.main-sidebar{
    background-color: rgba(125, 45, 84, 0.2) !important;
    background: rgb(255, 255, 255);
}

.brand-image{
  margin-left: 2px !important;
  padding-left: 2px;

}
.brand-link{
  background-color: rgb(35, 83, 79) !important;
}



.cust-li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cust-li > div {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.cust-li > div:hover {
  background-color: #bb7ab8;
}

.cust-li i {
  margin-right: 5px;
}

.cust-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.cust-ul li {
  padding: 10px;
  cursor: pointer;
}

.cust-ul li:hover {
  background-color: #bb7ab8;
}

