.TaskList{
    overflow-x: auto;
    background-color:  #2F4562;
}

.task-list-header{
    background-color:  #3a5476a0;
    border: none;
    border-radius: 5px;
    color:  #767D92 !important;
    font-size: 30px;
    margin: 5px;
}

.TaskListTitle{
    background-color:  #3d5b8393;
    border: none;
    color:  #767D92 !important;
    font-size: 30px;
    padding: 5px;
}