 /* @import url('https://fonts.googleapis.com/css2?family=Neuton:wght@400;700;800&display=swap');

*{
  font-family: 'Neuton', serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}  */

/* change all text color  */

body {
  color: #272d43 !important;
}


::-webkit-scrollbar {   width: 10px;   height: 10px; }   
::-webkit-scrollbar-thumb {   background: linear-gradient(270deg, #645ebf 0%, #988dff 100%);   border-radius: 5px; }   
::-webkit-scrollbar-track {   background-color: #b395fadc; }