@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Neuton', sans-serif;
    
}
.heroContainer{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0  20px 0 20px;
    margin-top: 20px;
    box-shadow:0 0 2px 0 rgba(0,0,0,0.2);
    border-radius: 10px;

}
.herorow{
    max-height: 75%;
    display: flex;
    flex-direction: row;
   
    
    
}
.heroimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.hero-text{
    font: 1em 'Neuton', sans-serif;
    text-align: left;
    padding: 3.5rem
}
.herobtn{
    background-color: #e887d9;
    color: #000;
    border: 1px solid #52284b;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.aboutContainer{
    background-color: rgba(82, 40, 75, 0.2);
    border-radius: 5px;
    padding: 10px;
}


.accordion{
    margin: 1.1em;
    --bs-accordion-active-bg : #e887d9;
}

.accordion-item{
    background-color: #e887d9;
    color: #000;
    border: 0px solid #52284b;
    box-shadow:0 0 2px 0 rgba(0,0,0,0.2);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.accordion-header{
    background-color: #e887d9;
    cursor: pointer;
}

.accordion-button{
    background-color: #e887d9;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.collapsed{
    background-color: #e887d9;
}

/* @media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
}
} */

